{{- $height := .height}}

<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit >
    <div class="orbit-wrapper">
        <ul class="orbit-container">
            {{ if .controls.enabled }}
                <div class="orbit-controls">
                    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;
                    </button>
                    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                </div>
            {{ end }}
            {{ range .elements }}
                <li class="orbit-slide">
                    <figure class="orbit-figure">
                        <img class="orbit-image" src="{{ printf "/orbit/%s" .image }}" alt="Space" style="height: {{ $height }}; object-fit: cover ">
                    </figure>
                    {{ with .caption }}
                        <figcaption class="orbit-caption">{{.}}</figcaption>
                    {{ end }}
                </li>
            {{ end }}
        </ul>
    </div>
</div>
